<!--
#Team MadCauseBad - Ryan Ma, Jessica Yeung, May Hathaway, William Li
#SoftDev
#K15 -- Sessions Greetings
#2020-12-14
-->

<!DOCTYPE html>

<html>

  <head>
    <title> Rest here for a while ... </title>
  </head>

  <body>
    <p>
      Team MadCauseBad - Ryan Ma, Jessica Yeung, May Hathaway, William Li
    </p>

    <h1>
      Welcome weary traveler.
    </h1>
    <b>
      We hope you enjoy your stay, {{usern}}
    </b>
    <br>
    <br>

    <form action = "/welcome" method = "post">
      <input type = "submit" name = "sub1" value = "Log Out">
    </form>

</html>